# .dockerignore
#
# files igored when build context is sent to Docker daemon
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2018-07-07


# NOTE: code/docker/Dockerfile and .dockerignore are on the ignore list,
# but are included in build context anyway as Docker daemon needs them

# TODO: ideally, .dockerignore file differs between containers:
# data/mirror for ci-vault-client, data/tmpl for ci-vault-server

# ignore everything ...
*

# ... except for exceptions
!code/vault
!conf/vault
!data/mirror
!data/tmpl
