---
# dd-vt-upload-secrets.yaml, rendered from dd-vt-upload-secrets.yaml.j2
#
# dd-vt-upload-secrets script configuration file
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2020-06-17


# TODO: see ./dd-vt-init-vault.yaml.j2


# absolute path to secure location with sensitive data for this vault
path_to_sec_loc:   {{ path_to_sec_loc }}

# path to folder with secrets config files, relative to path_to_sec_loc
secrets_folder:    {{ secrets_folder }}

# name of file with keys to unseal vault, relative to path_to_sec_loc
key_file_name:     {{ key_file_name }}

# vault server protocol, host and port
vault_address:     {{ vault_address }}

# vault url path to secrets, relative to vault_address
# TODO: support other secrets engines than cubbyhole
vault_path:        {{ vault_path }}

# secrets to be uploaded to vault
# NOTE: currently, all secrets are stored in cubbyhole:
# https://learn.hashicorp.com/vault/getting-started/secrets-engines
# https://www.vaultproject.io/docs/secrets/cubbyhole/index.html
# https://www.vaultproject.io/api/secret/cubbyhole/index.html
# properties:
#   path: path into vault where the secret will be stored,
#         relative to vault_address/vault_path
#   file: path to and name of file with secrets,
#         relative to path_to_sec_loc/secrets_folder
secrets:           {% if secrets is defined  and secrets %}
{%- for secret in secrets %}
- path: {{ secret.path }}
  file: {{ secret.file }}
{%- endfor %}{% else %}null{% endif %}
