---
# dd-vt-download-secrets.yaml, rendered from dd-vt-download-secrets.yaml.j2
#
# dd-vt-download-secrets script configuration file
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2020-06-16


# TODO: see ./dd-vt-init-vault.yaml.j2


# absolute path to secure location with sensitive data for this vault
path_to_sec_loc:   {{ path_to_sec_loc }}

# path to folder with secrets config files, relative to path_to_sec_loc
secrets_folder:    {{ secrets_folder }}

# name of file with keys to unseal vault, relative to path_to_sec_loc
key_file_name:     {{ key_file_name }}

# vault server protocol, host and port
vault_address:     {{ vault_address }}

# secrets engines endpoints
# https://www.vaultproject.io/api-docs/secret
endpoints:
{%- for endpoint in endpoints %}
- {{ endpoint }}
{%- endfor %}
