---
# dd-vt-upload-auth-methods.yaml,
#   rendered from dd-vt-upload-auth-methods.yaml.j2
#
# dd-vt-upload-auth-methods script configuration file
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2020-06-23


# TODO: see ./dd-vt-init-vault.yaml.j2


# absolute path to secure location with sensitive data for this vault
path_to_sec_loc:   {{ path_to_sec_loc }}

# name of file with keys to unseal vault, relative to path_to_sec_loc
key_file_name:     {{ key_file_name }}

# vault server protocol, host and port
vault_host:        {{ vault_host }}


# path to folder with per-auth methods folders, rel to path_to_sec_loc
methods_folder:    {{ methods_folder }}

# vault url path to per-auth methods paths, relative to vault_host
methods_root:      {{ methods_root }}

# auth methods to be uploaded to / set up in vault
methods:           {% if methods is defined and methods %}
{% for method in methods %}
  {{ method.method_name }}:
    method_folder: {{ method.method_folder }}
    method_root:   {{ method.method_root }}{% if method.roles is defined %}
    roles:{% if method.roles %}
    {% for role in method.roles %}- path: {{ role.path }}
      file: {{ role.file }}{% endfor %}{% else %}         null{% endif %}{% endif %}{% if method.users is defined %}
    users:{% if method.users %}
    {% for user in method.users %}- path: {{ user.path }}
      file: {{ user.file }}{% endfor %}{% else %}         null{% endif %}{% endif %}{% if not loop.last %}
{% endif %}{% endfor %}{% else %}null{% endif %}
