# <service name>.hcl, rendered from service_policy.hcl.j2
#
# HashiCorp Vault policy for one regular service
#
# author  : stefan schablowski
# contact : stefan.schablowski@desmodyne.com
# created : 2018-02-21


# under their own path, every service can do anything
path "secret/service/{{ service_name }}/*"
{
    capabilities = ["create", "read", "update", "delete", "list"]
}

# in their own root path, every service can read and list
path "secret/service/{{ service_name }}"
{
    capabilities = ["read", "list"]
}
